.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: contain;
	font-family: 'Press Start 2P';
}

.header {
	text-align: center;
}

.headerImage {
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 1%;
}

.headerText {
	width: 100%;
	padding: 2.5%;
	background-color: white;
	box-shadow: 5px 2.5px 5px;
}

.rest {
	padding-top: 20px;
}
