.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  box-shadow: 5px 5px 5px;
  padding: 1em;
  margin: auto;
  text-align: center;
  background-color: white;
}

.selected {
  background-color: black;
  color: white;
}

.voted {
  background-color: #bbf65a;
  color: black;
}

.full {
}

.button {
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.button:hover {
  transition-duration: 0.1s;
}

.clickable:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px black;
}

.clickable:active:after {
  box-shadow: 0 0 0 0 black;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.clickable:active {
  top: 1px;
}
